﻿@{
	ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive-3.2.5/dist/jquery.unobtrusive-ajax.js"></script>


<form asp-controller="Home" asp-action="SaveForm" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccess">
	<button>Submit</button>
</form>
<script>
	var onSuccess = function () {
		console.log('123');

	}
</script>