﻿@{
	ViewData["Title"] = "Home Page";
}
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<h2>Sign In</h2>
		<form method="get" action="@Url.Action("SignIn", "Identity")">
			<input type="email" name="email" class="form-control" placeholder="Email" />
		</form>
	</div>
</div>